@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");
* {
  font-family: "Phudu", cursive;
  font-weight: 300;
  margin: 0;
  padding: 0 5px;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 25px;
  height: 100%;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );
}

main {
  padding: 20px 40px;
  display: grid;
  gap: 10px;
  border-radius: 20px;
  background-color: rgb(210, 232, 252);
  box-shadow: 20px 20px 50px 5px rgba(168, 168, 168, 1);
}

hr {
  border: 1px solid;
  margin: 10px;
}

.flex {
  display: flex;
  gap: 40px;
}
.paragraphs {
  margin-right: 50px;
}
table {
  width: 100%;
  text-align: center;
}

button {
  font-size: 1.2rem;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  background-color: hsl(195, 53%, 79%);
}
button:hover {
  background-color: hsl(195, 73%, 61%);
}
